<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <!-- These are the default settings.ini values when there is no settings.ini file. 
            To change paths permanently change the values in settings.ini
            This config is replaced every time there is a new build of the application so 
            changes will be lost! -->
        <add key="spotlight_path" value="C:\Users\{username}\AppData\Local\Packages\Microsoft.Windows.ContentDeliveryManager_cw5n1h2txyewy\LocalState\Assets" />
        <add key="output_path" value="C:\Users\{username}\Pictures\Spotlight" />
        <add key="output_pngs" value="C:\Users\{username}\Pictures\Spotlight\PNGs" />
        <add key="output_landscapes" value="C:\Users\{username}\Pictures\Spotlight\Landscapes" />
        <add key="output_portraits" value="C:\Users\{username}\Pictures\Spotlight\Portraits" />
    </appSettings>
</configuration>